@font-face {
	font-family: '04b03';
	src: url('/fonts/04b03.eot');
	src: url('/fonts/04b03.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/04b03.woff') format('woff'),
		 url('/fonts/04b03.ttf') format('truetype'),
		 url('/fonts/04b03.svg#04b03') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'BLOKKRegular';
    src: url('/fonts/blokk.eot');
    src: url('/fonts/blokk.eot?#iefix') format('embedded-opentype'),
         url('/fonts/blokk.woff') format('woff'),
		 url('/fonts/blokk.ttf') format('truetype'),
         url('/fonts/blokk.svg#BLOKK') format('svg');
    font-weight: normal;
    font-style: normal;
}

.blokk-font { font-family: 'BLOKKRegular'; }
.bit-font { font-family: '04b03'; }

html {
	font-size: 62.5%;
}
body {
	font-size: 1.4em;
}

.hidden { display: none; }
.invisible { visibility: hidden; }

.flr { float: right; }
.fll { float: left; }

.clear_right { clear: right; }
.clear { clear: both; }

.center { text-align: center; }

.pointer { cursor: pointer; }

.small {
	font-size: .85em;
}

.opaque {
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	opacity: 0.5;
	&.hover_show:hover {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
		opacity: 1;
	}
}

.pane {
	border-radius: 9px; 
	-moz-border-radius: 9px; 
	-webkit-border-radius: 9px;
	-webkit-box-shadow: 3px 3px 2px 2px;
	-moz-box-shadow: 3px 3px 2px 2px;
	box-shadow: 3px 3px 2px 2px;
	
	padding: 2px 12px 6px;
	background-color: #fff;
}

.portable-divider {
	opacity: .5;
	font-weight: bold;
}

.game-thumb {
	width: 95%;
	height: 180px;
	line-height: 180px;
	text-align: center;
	img {
		max-height: 180px;
		max-width: 100%;
		vertical-align: middle;
	}
}

.game-view-chooser {
	.dropdown-menu {
		min-width: 123px !important;
		max-width: 123px !important;
	}
}

.game-list {
	clear: both;
	padding-top: 20px;
}

.search-query {
	border-radius: 6px;
}

// Achievement Page

.created-modified {
	color: #999;
	font-style: italic;

	span {
		display: block;
	}
}

p.created-modified { 
	margin-top: 20px; 
	span { 
		margin-left: 20px;
		display: inline-block;
	}
}

#comments {
	.user_comment {
		.buttons {
			float: right;
			text-align: right;
			// display: none;
		}
		&:hover {
			.buttons {
				// display: block;
			}
		}
	}
	.in-response-to {
		color: #999;
	}
}

.modal {
	textarea { 
		width: 97%;
	}
}
textarea[name=comment] { width: 95%; }

.load-more-comments,
.load-more-achievements { 
	width: 96%; 
	margin-bottom: 20px;
}

ul#game-systems {
	list-style: none;
	margin: 0;
	li {
		display: block;
		float: left;
		padding-right: 15px;
		&:last-child {
			padding-right: 0px;
		}
	}
}

#system-exclusive,
.system-exclusive {
	margin-top: 4px;
	float: right;
	text-align: center;
	div {
		font-size: 2em;
		line-height: 1em;
		div, span {
			font-size: .45em;
		}
	}
}

#suggest-tag {
	h4 {
		margin-bottom: 5px;
		i {
			margin-top: 3px;
		}
	}
	input[type=text] {
		width: 155px;
		margin-top: 9px;
	}
	.btn {
		//margin-left: -5px;
	}
}


// Create Achievement

.tagit, #default_tags { 
	margin-left: 0px !important; 
	width: 75%; 
}
.tagit *::selection, 
#default_tags *::selection { background: transparent !important; }
.tagit *::-moz-selection, 
#default_tags *::-moz-selection { background: transparent !important; }

#default_tags li { 
	padding-right: .5em; 
	cursor: pointer;
}

#systemExclusive {
	label.radio {
		float: left;
		padding-right: 15px;
	}
}

// Label-Over
div.label-over {
	position: relative;
	float: left;
	label.over-apply {
		color: #ccc; 
		position: absolute; 
		top: 5px; 
		left: 5px;
		cursor: text;
	}
}

// Game Page

ul#links {
	list-style: none;
	//position: relative;
	i {
		margin-top: 1px;
		// position: absolute;
		// left: -21px;
	}
}

.achievement-icon {
	margin-top: 10px;
	width: 64px;
	height: 64px;
}

#achievements {
	.icon {
		float: left;
		width: 64px;
		height: 64px;
	}
	.info {
		margin-left: 74px;
	}
	a:hover { text-decoration: none; }
	.stats {
		
	}
}

.i-did-it {
	color: green;
	font-size: 1.125em;
}

#achievement {
	.icon {
		float: right;
		width: 128px;
		height: 128px;
	}

	.how_to_achieve {
		margin-right: 152px;
		min-height: 128px;

		.created-modified {
			font-size: .75em;
		}
	}
}

.form-actions {
	.btn {
		&.fll {
			margin-left: 20px;
			&+.fll {
				margin-left: 5px;
			}
		}
	}
}

.achievement_icon {
	width: 64px;
	height: 64px;
	border-radius: 5px;
	&.bigger {
		width: 120px;
		height: 120px;
	}
	&.super {
		width: 512px;
		height: 512px;
	}
}

.icon_tags {
	.icon_tag {
		cursor: pointer;
		display: inline-block;
		
		color: white;
		background-color: black;
		font-size: .9em;
		padding: .5em;
		margin: 3px;
		border-radius: 5px;
		-webkit-transition: all .2s;
		transition: all .2s;

		&:hover {
			background: #333;
		}
	}
}

.icon_holder {
	.achievement_icon {
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			-webkit-backface-visibility: hidden;
			-moz-transform: translate3d(0,0,0) scale(1.2);
			-webkit-transform: translate3d(0,0,0) scale(1.2);
			transform: translate3d(0,0,0) scale(1.2);
		}
	}
	
}

.icon_chooser {
	.achievement_icon {
		margin-bottom: 4px;
	}
	.form-actions {
		text-align: right;
	}
}

// .game-developer li:nth-child(2) .game-platform {
// 	margin-left: 0px;
// }

.game-developer, .game-platform {
	background-color: #fff;
}

.breadcrumb {
	.breadcrumb {
		margin-bottom: 0px;
	}
}

.game-system {
	margin-right: 10px;
	&:last-child { 
		margin-right: 0px;
	}
}

svg.svg, img.svg {
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tags {
	span { 
		cursor: pointer; 
		margin: 5px; 
		position: relative; 
		line-height: 30px;
	}
	margin-bottom: 10px;
}
	
.tags-wrapper { margin-top: 20px; position: relative; }
.tags-wrapper .help-block { margin-top: 10px; }
.tag-vote-group { position: absolute; z-index: 2; }
.tags-wrapper [rel=tooltip] { position: absolute; top: 8px; right: 8px; }

.markdown-container {
	.popover {
		width: 500px;
	}
	// For Markdown content, take the H1 down to H4, H2 to H5, etc
	h1 {
		font-size: 17.5px;
	}
	h2 {
		font-size: 14px;
	}
	h3, h4, h5, h6 {
		font-size: 11.9px;
	}
	h1, h2, h3 {
		line-height: 20px;
		&.ignore {
			font-size: 2em;
			line-height: 40px;
		}
	}
}

.edit_comment, .delete_comment, .flag_comment {
	cursor: pointer;
}

.evo-hist {
	float: right;
}

.achieved-toggle {
	.popover-title {
		display: none;
	}
}