@font-face {
	font-family: '8bit';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/04b03.ttf) format('truetype');
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.4em;
}

.hidden { display: none; }
.invisible { visibility: hidden; }

.flr { float: right; }
.fll { float: left; }

.clear_right { clear: right; }

.center { text-align: center; }

.pointer { cursor: pointer; }

.pane {
	border-radius: 9px; 
	-moz-border-radius: 9px; 
	-webkit-border-radius: 9px;
	-webkit-box-shadow: 3px 3px 2px 2px;
	-moz-box-shadow: 3px 3px 2px 2px;
	box-shadow: 3px 3px 2px 2px;
	
	padding: 2px 12px 6px;
	background-color: #fff;
}

.game-letters {
	ul {
		background-color: #fbfbfb;
		background-image: -moz-linear-gradient(center top, #fff, #f5f5f5);
		background-repeat: repeat-x;
		a {
			padding: 0 11px !important;
		}
	}
}

.portable-divider {
	opacity: .5;
	font-weight: bold;
}

.game-thumb {
	width: 95%;
	height: 180px;
	line-height: 180px;
	text-align: center;
	img {
		max-height: 180px;
		max-width: 100%;
		vertical-align: middle;
	}
}

.game-view-chooser {
	.dropdown-menu {
		min-width: 123px !important;
		max-width: 123px !important;
	}
}

.game-list {
	clear: both;
	padding-top: 20px;
}

.search-query {
	border-radius: 6px;
}

// Achievement Page

.created-modified {
	color: #999;
	font-style: italic;

	span {
		display: block;
	}
}

p.created-modified { 
	margin-top: 20px; 
	span { 
		margin-left: 20px;
		display: inline-block;
	}
}

#comments {
	.user_comment {
		.buttons {
			float: right;
			text-align: right;
			// display: none;
		}
		&:hover {
			.buttons {
				// display: block;
			}
		}
	}
	.in-response-to {
		color: #999;
	}
}

.modal textarea { 
	width: 98%;
	min-height: 12em;
}
textarea[name=comment] { width: 95%; }

.load-more-comments,
.load-more-achievements { 
	width: 96%; 
	margin-bottom: 20px;
}

ul#game-systems {
	list-style: none;
	margin: 0;
	li {
		display: block;
		float: left;
		padding-right: 15px;
		&:last-child {
			padding-right: 0px;
		}
	}
}

#system-exclusive,
.system-exclusive {
	margin-top: 4px;
	float: right;
	text-align: center;
	div {
		font-size: 2em;
		line-height: 1em;
		div, span {
			font-size: .45em;
		}
	}
}

#suggest-tag {
	h4 {
		margin-bottom: 10px;
	}
	input[type=text] {
		width: 180px;
	}
	.btn {
		margin-left: -5px;
	}
}


// Create Achievement

.tagit, #default_tags { 
	margin-left: 0px !important; 
	width: 75%; 
}
.tagit *::selection, 
#default_tags *::selection { background: transparent !important; }
.tagit *::-moz-selection, 
#default_tags *::-moz-selection { background: transparent !important; }

#default_tags li { 
	padding-right: .5em; 
	cursor: pointer;
}

#systemExclusive {
	label.radio {
		float: left;
		padding-right: 15px;
	}
}

// Label-Over
div.label-over {
	position: relative;
	float: left;
	label.over-apply {
		color: #ccc; 
		position: absolute; 
		top: 5px; 
		left: 5px;
		cursor: text;
	}
}

// Game Page

ul#links {
	list-style: none;
	//position: relative;
	i {
		margin-top: 1px;
		// position: absolute;
		// left: -21px;
	}
}

.achievement-icon {
	margin-top: 10px;
	width: 64px;
	height: 64px;
}

#achievements {
	.icon {
		float: left;
		width: 64px;
		height: 64px;
	}
	.info {
		margin-left: 74px;
	}
	a:hover { text-decoration: none; }
	.stats {
		font-family: '8bit';
	}
	.i-did-it {
		font-family: '8bit';
		color: green;
		font-size: 1.125em;
	}
}