.pointer { cursor: pointer; }

.pane {
	border-radius: 9px; 
	-moz-border-radius: 9px; 
	-webkit-border-radius: 9px;
	-webkit-box-shadow: 3px 3px 2px 2px;
	-moz-box-shadow: 3px 3px 2px 2px;
	box-shadow: 3px 3px 2px 2px;
	
	padding: 2px 12px 6px;
	background-color: #fff;
}

.game-letters {
	ul {
		background-color: #fbfbfb;
		background-image: -moz-linear-gradient(center top, #fff, #f5f5f5);
		background-repeat: repeat-x;
		a {
			padding: 0 11px !important;
		}
	}
}

.portable-divider {
	opacity: .5;
	font-weight: bold;
}

.game-thumb {
	width: 95%;
	height: 180px;
	line-height: 180px;
	text-align: center;
	img {
		max-height: 180px;
		max-width: 100%;
		vertical-align: middle;
	}
}

.game-view-chooser {
	.dropdown-menu {
		min-width: 123px !important;
		max-width: 123px !important;
	}
}

.game-list {
	clear: both;
	padding-top: 20px;
}

.search-query {
	border-radius: 6px;
}