html {
	font-family: Chivo, sans-serif;
	font-size: 62.5%;	
}

body {
	background: url(/assets/images/background.png);
}

footer {
	border-top: 1px solid #eee;
    margin-top: 17px;
    padding-top: 17px;
    text-align: center;
}

	#user {
		float: right;
		padding: 8px;
		
		a { 
			color: white; 
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: underline;
		}
		
		.text {
			color: #555;
		}
	}
	
	.sidebar {
		border: 1px solid red;
	}
	
	.content {
		border: 1px solid blue;
	}