.special_search {
	list-style: none;
	li {
		display: block;
		float: left;
		margin-left: 10px;
	}
}

.alert {
	margin: 10px 10px 10px 10px;
}

// Overwrite some Bootstrap stylings
.form-horizontal .form-actions {
	text-align: right !important;
	padding-left: 0px !important;
}

form { margin: 0px !important; }

.actions {
	a {
		margin-right: 5px;
	}
}

section .span12 {
	margin-left: 0px !important;
}

#stats {
	.span2 {
		text-align: center;
	}
}

.attention_needed {
	a, small {
		color: #EF643E !important;
		&:hover, &:hover small {
			text-decoration: none;
			color: #F7A792 !important;
		}
	}
}

.achievement_icon {
	max-width: 64px !important; // overwrites something from inspiriatas
	width: 64px;
	height: 64px;
	max-height: 64px;
	&.editor {
		max-width: 300px !important; // overwrites something from inspiriatas
		width: 300px;
		height: 300px;
		max-height: 300px;
	}
}